.main-header {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	background: #f5e216;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
	padding: 1rem 1rem;
	z-index: 5;

	.options {
		width: 50%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		a {
			text-decoration: none;
			align-items: center;
			padding: 5px;
		}
	}
}

main {
	margin-top: 5rem;
}

@media (min-width: 768px) {
	.main-header {
		justify-content: space-between;
	}
}
